#hero {
    background-image: url(../assets/images/img42.png);
    background-position: center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    width: 85%;
    height: 700px;
    margin: 0 auto;
    border-left: 3px solid hsla(0deg, 1%, 45%, 0.247);
    border-right: 3px solid hsla(0deg, 1%, 45%, 0.247);
}

.hero-title {
    padding-top: 4em;
    font-size: 3em;
    font-weight: bolder;
}

.compte-info {
    width: 85%;
    margin: 0 auto;
}

.LinkInfo a {
    display: block;
}