.contant {
    width: 85%;
    margin: 0 auto;
    height: 100px;
    align-items: center;
}


/* nav {
    position: absolute!important;
    width: 100%;
} */

.nav-link {
    font-size: 22px!important;
    color: white!important;
}

.active {
    font-weight: bold!important;
    text-decoration: underline;
    color: white!important;
}

nav .bordur {
    height: 100px;
    border-left: 3px solid hsla(0deg, 1%, 45%, 0.247);
    border-right: 3px solid hsla(0deg, 1%, 45%, 0.247);
    border-bottom: 3px solid hsla(0deg, 1%, 45%, 0.247);
}

.navbar-toggler {
    background-color: white !important;
}