.conteneur-single {
    width: 70%;
    margin: 0 auto;
}

div {
    color: white;
}

.white-color {
    border-top: 2px solid white;
}

.border {
    border: 2px solid;
    border-color: red !important;
    border-radius: 25px;
    padding: 5px 40px;
    color: red;
}

.description {
    font-size: 14px;
    text-align: justify;
}

.caracteristiques,
.gray {
    color: darkgray;
}

.text-just {
    font-size: 25px;
}